<table class="col-xs-12 table table-striped" id="listing_price_book_attributes">
  <colgroup>
    <col style="width: 25%">
    <col style="width: 75%">
  </colgroup>
  <tbody>
    <tr><td><%= Spree.t(:currency) %></td><td><%= price_book.currency %></td></tr>
    <tr><td><%= Spree.t(:active_from) %></td><td><%= I18n.l price_book.active_from %></td></tr>
    <tr><td><%= Spree.t(:active_to) %></td><td><%= I18n.l price_book.active_to %></td></tr>
    <tr><td><%= Spree.t(:price_adjustment_factor) %></td><td><%= price_book.price_adjustment_factor %></td></tr>
    <tr><td><%= Spree.t(:parent) %></td><td><%= price_book.parent.try(:name) || '--' %></td></tr>
    <tr><td><%= Spree.t(:price_type) %></td><td><%= price_book.price_type.try(:name) %></td></tr>
    <tr><td><%= Spree.t(:created_at) %></td><td><%= I18n.l price_book.created_at %></td></tr>
    <tr><td><%= Spree.t(:updated_at) %></td><td><%= I18n.l price_book.updated_at %></td></tr>
  </tbody>
</table>